<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Task</title>

    <link rel="stylesheet"
          href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}">

    {% stylesheets filter="compass" output="css/frontend.css"
    "@AppBundle/Resources/compass/*.scss" %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}

    <script src="{{ asset('assets/vendor/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>

    {% block headers %}
    {% endblock headers %}
</head>
<body class="content">

<div class="container-fluid">
    <div class="row">
        <header class="header col-md-12">
            <div class="col-md-2 st-logo header__st-logo">
                Sulon-Task
            </div>
        </header>

        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <nav class="col-md-2">
            <ul>
                <li><a href="#">London</a></li>
                <li><a href="#">Paris</a></li>
                <li><a href="#">Tokyo</a></li>
            </ul>
        </nav>

        <section class="col-md-10">
        {% else %}
        <section class="col-md-12">
        {% endif %}
            {% block content %}
            {% endblock content %}
        </section>

        <footer class="col-md-12 text-center">
            Sulon : 2010-2016
        </footer>
    </div>
</div><!-- /.container -->

{% block javascripts %}
{% endblock javascripts %}
</body>
</html>