{% extends 'AppBundle::layout.html.twig' %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block content %}

    <div class="st_login col-sm-12">
        {{ form_start(form) }}
        {{ form_end(form) }}
    </div>

{% endblock content %}